/* 
Colours from _Variables.scss
$ColorBackground: #793560;
This is a monochromatic colour scheme. 
Changing $colorBackground will change the tones and values of everything.


*/
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:300,400,700");
html {
  font-family: "Raleway", sans-serif;
  font-size: 13.5pt;
  line-height: 1.6; }

p {
  margin-top: 1rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
  line-height: 1.6rem; }

h1 {
  font-size: 23.625pt; }

h2 {
  font-size: 20.08125pt; }

h3 {
  font-size: 17.0690625pt; }

h4 {
  font-size: 14.508703125pt; }

h5 {
  font-size: 12.3323976563pt; }

h6 {
  font-size: 10.4825380078pt; }

strong, .strong {
  font-weight: 700; }

em, .em, abbr {
  font-style: italic; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

body {
  margin: 0;
  padding: 0;
  background-color: #793560; }

img {
  display: block;
  width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  color: #612a4d; }

p {
  color: #3d1b30; }

a {
  text-decoration: none;
  color: #37182b;
  font-weight: 700;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease; }
  a:hover, a:focus {
    text-decoration: underline; }

button {
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 1.32rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 3px solid #612a4d;
  background-color: #612a4d;
  color: #f2ebef;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
  outline: 0; }
  button:hover {
    cursor: pointer;
    background-color: #f2ebef;
    color: #612a4d; }

/*-- .content-box styles entire content --*/
.content-box {
  display: block;
  text-align: center; }

.wrapper {
  max-width: 30rem;
  margin: 1rem auto;
  padding: 0 1rem; }

.branding {
  display: block;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 3px solid #612a4d;
  margin: 1rem auto;
  text-align: center;
  background-image: url(../images/back-to-school.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom; }
  .branding h1 {
    padding-top: 8.25rem; }

.main-content ul li {
  background-color: #d7c2cf;
  text-align: left;
  color: #3d1b30;
  padding: 1rem;
  margin-bottom: 1px;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease; }
  .main-content ul li:hover, .main-content ul li:focus {
    background-color: #f2ebef;
    cursor: pointer; }
    .main-content ul li:hover:after, .main-content ul li:focus:after {
      display: block;
      text-align: right;
      float: right;
      background-color: #761C19;
      border-radius: .3rem;
      color: #ffffff;
      padding: 0 1rem;
      content: " remove"; }

/*-- Styling footer --*/
footer {
  margin-top: 1rem;
  background-color: #612a4d;
  padding: 1rem 0;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  footer p {
    color: #f2ebef; }
  footer .social-links {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    footer .social-links ul {
      list-style: none; }
      footer .social-links ul li {
        display: inline-block;
        font-size: 1.5rem; }
        footer .social-links ul li a {
          color: #fbf9fa;
          margin: .5rem; }
          footer .social-links ul li a:hover {
            color: #dad4d7; }
          footer .social-links ul li a span {
            display: none; }
  footer .copyright-notice {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: .5rem;
    text-align: center; }
/*# sourceMappingURL=main.css.map */