//implement clearfix so we can use it inside any element
@mixin clearfix {
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  * html .clearfix {
    zoom: 1;
  }

  /* IE6 */
  *:first-child + html .clearfix {
    zoom: 1;
  }
}

@mixin smallTransition {
  transition: all 750ms ease;
}

@mixin alert {
  background-color: #761C19;
  border-radius: .3rem;
  color: #ffffff;
  padding: 0 1rem;
}
