//sizes of things
//set value of 1 rem
$rem: 15pt;

//for mobile, things need to be this height to be clickable
$thumb: 50px;

//widths for media queries
$maxSiteWidth: 30rem;

//colors
$ColorBackground: #793560;
$ColorHeadings: mix(black, $ColorBackground, 20%);
$ColorText: mix(black, $ColorBackground, 50%);
$ColorLighter: mix(white, $ColorBackground, 90%);
$ColorDarker: mix(black, $ColorBackground, 20%);
